<!DOCTYPE html>
<html lang="en" ng-app="update">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" href="style.css">
</head>
<body background="http://www.pageresource.com/wallpapers/wallpaper/desktop-spring-theme-beach-ocean-themes-download.jpg" ng-controller="UpdateController">
<br><br><br><h3 style="text-align: center;font-size: 200%">Enter a new password to update your password</h3><br><br><br>
    <form>
        <b>New password</b> &nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" ng-model="newpass" id="newpassword"><br><br><br>
        <b>Confirm password</b> &nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" ng-model="confpass" id="confpassword"><br><br><br>
        <input type="button" style="background-color: blue;color: white" value="Update Password" ng-click="UpdatePassword()">
    </form>

</body>
</html>